.App {
  text-align: center;
  margin: 7%;
  padding: 0%;
  background-color: #3C503D;
}

/* section {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 10px;
} */

.sectionOne {
  background-color: lightcoral;
  padding: 20%;
  margin:5%;
  font-family: 'Ranga', cursive, sans-serif;
  font-size: 183%;
}

.sectionTwo {
  background-color: lightcyan;
  padding: 10%;
  margin: 5%;
  font-family: 'Pacifico', cursive, sans-serif;
  font-size: 183%;
}

.sectionThree {
  background-color: lightskyblue;
  padding: 10%;
  margin: 5%;
}
